body{
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6
{
  font-family: "Montserrat";
  font-weight: 900;
}
p{
  color: #8f8f8f;
}
/* Headings */
.big-heading
{
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  text-align: left;
}

.section-heading
{
  line-height: 1.5;
  font-size: 3rem;
}
/* title section */
#title
{
  background-color: #ff4c68;
  color: white;
}
.title-div
{
text-align: left;
}

.container-fluid
{
  padding: 3% 15% 7%;
}


/* Navigation Bar */
.navbar
{
  padding : 0 0 4.5rem 0;
}
.navbar-brand
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link {
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 1.2rem;
}
/* download button */
.download-button
{
  margin: 5% 3% 5% 0;
}
.to-shift
{
  margin-right: 11rem;
}
/* title image */
.title-img
{
width :54%;
transform: rotate(25deg);
position: absolute;
right: 30%;
}

  /* Features section */

#features
{
  padding: 7% 15%;
  position: relative;
  /* bottom: 100px; */
  background-color: #fff;
}
.feature-title
{
  font-size: 1.5rem;
}

/* ICON */
.sec-icon
{
color: #ef8172;
margin-bottom: 1rem;

}

.sec-icon:hover
{
  color:#ff4c68;
}

.feature-box
{

  padding: 5%;
}
/* testimonial section */
#testimonials
{
  background-color:#ef8172;

  color: #fff;

}
.testimonial-text
{
  line-height: 1.5;
  font-size: 3rem;
}
#testimonial-carousel
{
  padding: 7% 15%;
}

.testimonial-image
{
  width: 10%;
  border-radius: 100%;
margin: 20px;
}
                  /* press */
#press
{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo
{
  width : 15%;
  margin:20px 20px 50px;
}
/* pricing */

#pricing{
  padding: 100px;
}
.style-card
{
  padding: 3% 2%;
}
.price-text
{
  line-height: 1.5;
  font-size: 3rem;
}
.price-title
{
  font-size: 1.5rem;
}


/* call to action */
#cta
{
  padding: 7% 15%;
  background-color: #ff4c68;
}
.cta-h3
{
  padding :2px 5rem;
  font-size: 3rem;
  color: #fff;

}

/* footer */

#footer
{
  padding: 7% 15%;
  background-color: #fff;
}
.footer-icon
{
  margin:1rem;
  display: inline-block;
}
#footer-para
{
  padding-top: 10px;
}
/* media queries */
@media  (max-width:1028px)
{
  #title{
    text-align: center;
  }
  .title-img{
  transform: rotate(0);
  position:static;
}
}
